
body > div{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #AAA;
    padding: 10px;
    text-align: center;
    font-family: Segoe UI;
}

.grillasForm{
    margin-left: -8px; 
    margin-right: -8px;    
}

.layoutForm{
        
}

.TextBox{
    width: 300px
}

.ComboBox{
    width: 300px
}