.grillasForm {
    margin-left: -8px;
    margin-right: -8px;
}

.botonesList {
    background-color: #B0C4DE;    
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
}

.layoutForm {
}

.TextBox {
    width: 300px;
}

.ComboBox {
    width: 300px;
}

.TituloList{
    font-size:medium;
}

.filaEncabezado {    
    margin: 15px 5px 15px 5px;
    vertical-align: middle;
    padding-left: 5px;    
}